    .navbar {
      margin-bottom: 0;
      border-radius: 0;
      background-color: #282c37;
}
    
    /* Add a gray background color and some padding to the footer */
footer 
{
    background-color: ##9baec8;
    padding: 25px;
}
.carousel{
    background: #282c37;
    margin-top: 20px;
}
.carousel-item{
    text-align: center;
    min-height: 280px; /* Prevent carousel from being distorted if for some reason image doesn't load */
}
.bs-example{
  margin: 20px;
}