* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.aswin{
  background-color: black;
  height: 15vh;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 70px;
  border-bottom-style: groove;
  color : #d9e1e8;
}
.columnt2 {
  height: 20vh;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 70px;
  text-shadow: 5px 5px grey;
    border-bottom-style: groove;
}
.columnt2 {
  background: grey;
  font-size: 20px;
  border-bottom-style: groove;
}
.navbar {                   /*Home, Tech */
  overflow: hidden;
  background-color:  #2b90d9;
}
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.column {
  float: left;
  width: 50%;
  padding: 15px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.tweets {
  background: #2b90d9;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}
.recent {
  background:#282c37;
  color: white;
  text-align: center;
}
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

a:hover {
  background: whitesmoke;
  color: black;
}
a {
  text-decoration: none;
  color: inherit;
}
